<div class="manufacturers">
  <% @manufacturers.sort.each do |manufacturer| %>
    <%= link_to manufacturer, manufacturer_url(manufacturer), :class => "logo", :id =>  "#{manufacturer.downcase}"%>
  <% end %>
</div>