<div class="car button secondary">
  <%= car.name %><br />
  <%= car.model_years %><br />
  Base Price: $<%= number_with_delimiter(car.suggested_price, :delimiter => ',') %><br />
  <%#= car.extra_information.nil? ? "" : "*#{car.extra_information}" %>
</div>