<h1>Cars For Teens</h1>

<p>All information based on data that was accurate on July 1st 2014</p>

<% @garage.cars.sort{|x,y| x.manufacturer <=> y.manufacturer}.each do |car| %>
  <div class="car"> 
    <%= car.name %><br />
    <%= car.year %><br />
    Base Price: $<%= number_with_delimiter(car.suggested_price, :delimiter => ',') %><br />
    <%= car.extra_information.nil? ? "" : "*#{car.extra_information}" %>
  </div>
<% end %>