<div class="row">
  <div class="large-12 columns">
    <%= image_tag(trim["VehiclePicture"]) %>
  </div>
</div>

<% trim.each do |key, value| %>
  <% next if ["FrontCrashVideo", "VehiclePicture", "FrontCrashPicture", "SideCrashDriversideNotes", "SideCrashPicture", "SideCrashVideo", "SidePolePicture", "SidePoleVideo", "ModelYear", "Make", "Model", "VehicleDescription", "VehicleId"].include?(key) %>
  
  <div class="row">
    <div class="large-10 columns"><%= key.underscore.humanize %></div>
    <div class="large-2 columns"><%= value %></div>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <h5>Side Crash Driver-side Notes</h5>
    <%= trim["SideCrashDriversideNotes"] %>
  </div>
</div>