/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

body {
  background-color: #000000;
  /* background: -webkit-linear-gradient(#000000, #707070); /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#000000, #ffffff);
  /* background: -o-linear-gradient(#000000, #707070); /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(#000000, #ffffff);
  /* background: -moz-linear-gradient(#000000, #707070); /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(#000000, #ffffff);
  /* background: linear-gradient(#000000, #707070); /* Standard syntax (must be last) */
  background: linear-gradient(#000000, #ffffff);
}

.row {
  background-color: #FEFEFA;
}
