// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  width: 100%;
}

.intro, .tabs, .content {
  padding: 0 10px;
}

.tabs li, .content li {
  padding: 0 1.5px 3px;
  a {
    margin: 0;
  }
}

.content {
  p, h1 {
    margin: 10px;
  }
  ul {
    margin: 0 0.375rem
  }
  padding: 10px 0px;
}
