<div id="safety-rating">
  
  <h4>IIHS Safety Rating</h4>
  
  <div id="ratings">
    <% @safety_rating.cached_ratings.each do |rating| %>
      <div class="row">
        <div class="large-10 columns"><%= rating[:rating_type] %></div>
        <div class="large-2 columns"><%= render rating[:rating_value].downcase %></div>
      </div>
    <% end %>
  </div>
  
  <div id="full-report">
    <%= link_to "Full Safety Report", @safety_rating.report_uri, {target: "_blank", class: "button secondary radius"} %>
  </div>
</div>